<h1><%= "#{@that_name}'s scores" %></h1>
<h2 class="mb-3">
  <%= "max score: #{@max_score}" %><br>
  <%= "average score: #{@avg_score}" %>
</h2>

<div id="scores">
  <% @scores.each do |score| %>
    <div>
      <%= render score %>
    </div>
    
    <%= button_to "Edit this score", edit_score_path(score), method: :get, class:"btn btn-dark mb-1" %>
    <%= button_to "Delete this score", score, method: :delete, class:"btn btn-dark mb-3" %> 
  <% end %>
</div>
<div class="mb-1"><%= button_to "Add score", new_score_path, params:{stu_id: @this_stu_id}, method: :get, class:"btn btn-dark" %></div>
<div class="mb-1"><%= button_to "Back to All students", students_path, method: :get, class:"btn btn-dark" %></div>