<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
  <% if session[:logged_in] %>
    <%= link_to "Edit this student", edit_student_path(@student) %>
    | 
  <% end%> 
  <%= link_to "Back to students", students_path %>
  <br><br>
  <%= button_to "Destroy this student", @student, method: :delete, class:"btn btn-dark" %>

</div>
