<%= form_with(model: score) do |form| %>
  <% if score.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
        <% score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :subject, style: "display: block", class:"form-label" %>
    <%= form.text_field :subject, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :point, style: "display: block", class:"form-label" %>
    <%= form.number_field :point, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :grade, style: "display: block", class:"form-label" %>
    <%= form.text_field :grade, class:"form-control" %>
  </div>

  <div class="mb-3">
    <% if session[:from] == "scores" %>
      <%= form.label :student_id, style: "display: block", class:"form-label" %>
      <%= form.text_field :student_id, class:"form-control" %>
    <% elsif session[:from] == "student" %>
      <%= form.hidden_field :student_id, value: @stu_id %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit nil, class:"btn btn-dark" %>
  </div>
<% end %>
