<p style="color: green"><%= notice %></p>

<%= render @score %>

<div>
  <%= link_to "Edit this score", edit_score_path(@score) %> |
  <%= link_to "Back to scores", student_edit_score_path(@score.student_id) %>

  <%= button_to "Destroy this score", @score, method: :delete %>
</div>
