<p style="color: green"><%= notice %></p>

<%= render @score %>

<div>
  <%= link_to "Edit this score", edit_score_path(@score) %> |

  <% if session[:from] == "student" %>
    <%=   link_to "Back", student_edit_score_path(@score.student_id) %>
  <% elsif session[:from] == "scores" %>
    <%=   link_to "Back", scores_path %> 
  <% end %>
  
  <%= button_to "Destroy this score", @score, method: :delete, class:'btn btn-dark' %>
</div>
